@model List<ProductVM>

@{
    ViewData["Title"] = "ProductByCategory";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-2" asp-controller="Product" asp-action="Index" asp-route-productId="@item.Id">
            <div class="card">
                <!-- Product image-->
            <img class="card-img-top" src="~/media/İmages/apple-iphone-13-pro-max-256gb-gumus-1.jpg" alt="...">
                <!-- Product details-->
            <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                    <h5 class="fw-bolder">@item.ProductName</h5>
                        <!-- Product price-->
                    @item.Price.ToString("C2")
                    </div>
                </div>
                <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-outline-dark mt-auto btn-sm addToCart">Add Cart</a></div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
<script>
    $(function() {
        $("a.addToCart").click(function(e) {
            e.preventDefault();

            let id = $(this).data("id");
            $.get('/cart/add/' + id, {}, function(data) {
                $("div.cart").html(data);
            });
        });
    });
</script>
}

