@model List<ProductVM>



@foreach (var item in Model)
{

    <div class="col mb-5" asp-controller="Product" asp-action="Index" asp-route-productId="@item.Id">
        <div class="card h-100">
            <!-- Product image-->
        <img class="card-img-top" src="/media/İmages/@item.ImagePath" width="250" height="300" alt="...">
            <!-- Product details-->
        <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                <h5 class="fw-bolder">@item.ProductName</h5>
                    @if (@item.DiscountPrice > 0)
                    {
                        <h5 class="fw-bolder">
                            Sale Item
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                        </h5>
                    }
                    <!-- Product price-->
                    @if (@item.DiscountPrice > 0)
                    {
                        <span class="text-muted text-decoration-line-through">@item.Price.ToString("C2")</span>
                        @item.Discount.ToString("C2")
                    }
                    else
                    {
                        @item.Price.ToString("C2")
                    }
                </div>
            </div>
            <!-- Product actions-->
        <div class="card-footer">
                <div>
                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-outline-dark mt-auto btn-sm addToCart">Sepete Ekle</a>
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-outline-dark mt-auto btn-sm">Ürün İncele</a>
                </div>
            </div>
        </div>
    </div>

}

