@model List<ProductVM>


@{
    ViewData["Title"] = "DiscountedProducts";
}



<div class="text-center">
    <h1 class="display-4">İndirimli Ürünler</h1>
</div>

<div class="container mb-lg-5 mt-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3" asp-controller="Home" asp-action="DiscountedProducts" asp-route-productId="@item.Id">
                <div class="card h-100">
                    <!-- Product image-->
                <img class="card-img-top" src="/media/İmages/@item.ImagePath" width="200" height="300" alt="...">
                    <!-- Product details-->
                <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                        <h5 class="fw-bolder">Sale Item</h5>
                            @item.ProductName
                            <!-- Product reviews-->
                            @if (@item.Discount > 0)
                            {
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                            }
                            <!-- Product price-->
                        <span class="text-muted text-decoration-line-through">@item.Price.ToString("C2")</span>
                            @item.DiscountPrice.ToString("C2")

                        </div>
                    </div>
                    <!-- Product actions-->
                <div class="card-footer">
                        <div>
                            <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-outline-dark mt-auto btn-sm addToCart">Sepete Ekle</a>
                            <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-outline-dark mt-auto btn-sm">Ürün İncele</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts{
<script>
    $(function() {
        $("a.addToCart").click(function(e) {
            e.preventDefault();
            let id = $(this).data("id");
            $.get('/cart/add/' + id, {}, function(data) {
                $("div.cart").html(data);
            });
        });
    });
</script>
}